[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = git://github.com/davidhalter/vim-snipmate.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = git://github.com/vim-scripts/vim-addon-mw-utils.git
[submodule "bundle/vim-tlib"]
	path = bundle/vim-tlib
	url = git://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-nerdtree"]
	path = bundle/vim-nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-tcomment"]
	path = bundle/vim-tcomment
	url = git://github.com/tomtom/tcomment_vim.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-a"]
	path = bundle/vim-a
	url = git://github.com/vim-scripts/a.vim.git
[submodule "bundle/vim-taglist"]
	path = bundle/vim-taglist
	url = https://github.com/anbenqishi/taglist.vim.git
[submodule "bundle/vim-autocomplpop"]
	path = bundle/vim-autocomplpop
	url = http://github.com/anbenqishi/vim-autocomplpop.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "bundle/vim-minibufexpl"]
	path = bundle/vim-minibufexpl
	url = https://github.com/chunzi/minibufexpl.vim.git
[submodule "bundle/vim-winmanager-Improved"]
	path = bundle/vim-winmanager-Improved
	url = https://github.com/anbenqishi/win-manager-Improved.git
[submodule "bundle/wim-winmanager"]
	path = bundle/wim-winmanager
	url = https://github.com/zerdliu/winmanager.git
[submodule "bundle/vim-grep"]
	path = bundle/vim-grep
	url = https://github.com/vairix-amuhlethaler/grep_vim.git
[submodule "bundle/vim-dwm"]
	path = bundle/vim-dwm
	url = git://github.com/spolu/dwm.vim.git
[submodule "bundle/vim-smartinput"]
	path = bundle/vim-smartinput
	url = git://github.com/kana/vim-smartinput.git
[submodule "bundle/vim-vimwiki"]
	path = bundle/vim-vimwiki
	url = git://github.com/vim-scripts/vimwiki.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = git://github.com/honza/vim-snippets.git
